@{
    ViewData["Title"] = "Admin Panel";
}

<h2>Admin Panel</h2>

<div class="container">
    <div class="mt-5">
        <div
            class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow-sm">
            <div class="row align-items-center">
                <div class="col-12 col-md-4">
                    <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing">
                        View Book Categories
                    </h4>
                </div>

                <ul class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
                    <li>
                        <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                        <span>
                            <span class="text-110">Edit,</span>
                            Add,
                        </span>
                    </li>

                    <li class="mt-25">
                        <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                        <span class="text-110">
                            View,
                        </span>
                    </li>

                    <li class="mt-25">
                        <i class="fa fa-check text-success-m2 text-110 mr-25 mt-1"></i>
                        <span class="text-110">
                            Book Categories
                        </span>
                    </li>
                </ul>

                <div class="col-12 col-md-4 text-center">
                    <a asp-action="CategoryList"
                        class="f-n-hover btn btn-dark btn-raised px-4 py-25 w-75 text-600">Go</a>
                </div>
            </div>

        </div>



        <div
            class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow-sm">
            <div class="row align-items-center">
                <div class="col-12 col-md-4">
                    <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing">
                        Manage Admin Roles
                    </h4>
                </div>

                <ul class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
                    <li>
                        <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                        <span>
                            <span class="text-110">Edit,</span>
                            Add,
                        </span>
                    </li>

                    <li class="mt-25">
                        <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                        <span class="text-110">
                            Remove,
                        </span>
                    </li>

                    <li class="mt-25">
                        <i class="fa fa-check text-success-m2 text-110 mr-25 mt-1"></i>
                        <span class="text-110">
                            Roles
                        </span>
                    </li>
                </ul>

                <div class="col-12 col-md-4 text-center">
                    <a asp-action="RoleManagement" asp-controller="AdminPanel"
                        class="f-n-hover btn btn-dark btn-raised px-4 py-25 w-75 text-600">Go</a>
                </div>
            </div>

        </div>

        <div
            class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-purple btn-h-outline-purple btn-a-outline-purple w-100 my-2 py-3 shadow-sm">
            <!-- Premium Plan -->
            <div class="row align-items-center">
                <div class="col-12 col-md-4">
                    <h4 class="pt-3 text-170 text-600 text-purple-d1 letter-spacing">
                        Add new Books
                    </h4>
                </div>
                <ul class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
                    <li>
                        <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                        <span>
                            <span class="text-110">Edit,</span>
                            Remove,
                        </span>
                    </li>

                    <li class="mt-25">
                        <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                        <span class="text-110">
                            View,
                        </span>
                    </li>

                </ul>


                <div class="col-12 col-md-4 text-center">
                    <a asp-action="ProductList" asp-controller="AdminPanel"
                        class="f-n-hover btn btn-dark btn-raised px-4 py-25 w-75 text-600">Go</a>
                </div>
            </div>

        </div>
    </div>
</div>