@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success" style="width: 100%;" role="alert">
        @ViewBag.SuccessMessage
    </div>
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" style="width: 100%;" role="alert">
        @ViewBag.ErrorMessage
    </div>
}
@if (ViewBag.ToastSuccessMessage != null)
{
    <div class="toast-container position-fixed top-0 end-0 p-3">

        <div class="toast show">
            <div class="toast-header">
                <div class="rounded me-2" alt="..."><span class="badge bg-primary rounded me-2"></span></div>
                <strong class="me-auto">Notification</strong>
                <small>Now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @ViewBag.ToastSuccessMessage
            </div>

        </div>
    </div>
}